.btn {
  background: #f1cdb3;
  border-radius: 100px;
  width: 207px;
  height: 52px;
  text-align: center;
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 0.06em;
  color: #292929;
  border: none;
}
.btn:hover {
  background: #fddcc4;
}
